include ../../template/markup/_vars

mixin check(block)
  div(class=mainClass)
    input.checkbox__input(type="checkbox" name=name value=value checked=checked)
    .checkbox__wrap
      .checkbox__name
      .checkbox__


